:root {
    --primary-color: #c39e41;
    --whiteColor: #fff;
    --darkColor: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    outline: none;
}

body {
    width: 100%;
    height: auto;
    padding: 3%;
    background-color: var(--whiteColor);
}
.page-header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('images/event-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 3%;
    border-radius: 30px;
    max-height: 300px;
    color: var(--whiteColor);
}

.page-header-title {
    font-size: 40px;
    letter-spacing: 1.5;
}
.events {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.event-container {
    display: flex;
    justify-content: safe;
    padding: 5px;
    margin-top: 5%;
    width: 40%;
    background: var(--primary-color);
    border-radius: 10px;
    margin-right: 40px;
}

.event-date {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background: var(--whiteColor);
    border-radius: 10px;
    margin: 10px;
    width: 25%;
}

.event-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    border-radius: 10px;
    margin: 10px;
    width: 75%;
}

.event-date-info {
    font-size: 20px;
    letter-spacing: 1;
    align-items: center;
}
@media screen and (max-width: 680px) {
    .page-header {
        padding: 10% 3%;
    }
    .events {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .event-container {
        width: 80%;
    }   
}