* {
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    margin: 0;
    padding: 0;
}

.signup-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.form-class {
    margin-bottom: 30px;
}

#FFD166
#ADEFD1
#FFE09D